.backContainer{
background-color: rgba(0, 0, 0, 0.676);
width: 99vw;
height: 500px;
position: absolute;
top: 0%;
left: 0%;
}
.category{
    position: absolute;
    color: antiquewhite;
    top: 37%;
    left: 3%;
    z-index: 80;
}
.btnContainerF{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    
}