.bannerContainer{
  background-image: url(../Assets/project-Pic/coo.png);
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 30;
  opacity: 0.70;
}
/* .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000cc;
} */
  .btnView{
    padding: 10px 20px;
    font-size: 17px;
    background: none;
    margin-top: 20px;
    border-color: #baabda;
    color: #baabda;
    font-family: "Montserrat";
    display: flex;
    justify-content:center;
    align-items: center;
    transition: all .2s ease-in-out;
  }
  
  .btnView:hover{
    background: #baabda;
    color: #201f1f;
    border-radius: 7px;
  }
  
  
  .listItem{
    padding: 0px 35px;
    list-style-type: none;
    font-size: 20px;
  }
  .listItem:hover{
  color: #db6400;
  transition: 0.2s ease-in-out;
  }
  .ulList{
    margin-left: 30px;
  }
  
  .linkItem{
    text-decoration: none;
    color: #cccccc;
    cursor: pointer;
  }
  
 
  
  .linkedinLink{
    margin-left: -120px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fafafa;
    padding: 5px;
    background: #294aa6;
    font-family: "Montserrat";
  }
  
  .email{
    background: #3f9885;
  }
  .github{
    background: #201f1f;
  
  }
  
  .linkedinLink:hover{
    margin-left: 0px;
    transition: all .4s ease-in-out;
    background-color: #657fc8;
  }
  .instagram{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  }
  .email:hover{
    background: #6fc2b0;
  }
  
  .github:hover{
    background: #424141;
  }
  
  .resume:hover{
    background: #565f69;
  }
  .resume{
    background: #38495e;
  }

  
  .btnSpan:hover{
    transform: rotate(90deg);
    transition: all .2s ease-out;
  }






















  @media (max-width: 930px){
  .listItem{
    padding: 0px 16px;
    font-size: 19px;
  }
  .ulList{
    margin-left: 10px;
  }
  }
  @media (max-width: 700px){
    .listItem{
      padding: 0px 6px;
      font-size: 19px;
    }
    .ulList{
      margin-left: 9px;
    }
  
    }