.workContainer{
    min-height: 100vh;
    color: #cccccc;
    
}
.imgP2{
    height: 100%;
    width: 100%;
    z-index: 30;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.textWork{
    border-bottom: 2px solid #db6400;
    color: #cccccc;
}
.ss{
   color: #21201e;
}
.secondText{
    color: #baabda;
    
}
.btn2{
    display: none;
    padding: 12px 35px;
    border: none;
    border-radius: 5px;
    background-color: #db6300e7;
    font-family: "Montserrat";
    font-size: 18px;

}
.btn2:hover{
    background-color: #c79770e3;
    cursor: pointer;
    transition: all .2ms ease-in-out;
}

.gitLink{
    text-decoration: none;
}




.signItem{
    background-image: url(../Assets/project-Pic/sign-up.png);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px 1px rgb(9, 8, 8)
    
}
.weblogItem{
    background-image: url(../Assets/project-Pic/weblog.png);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px 1px #000;
    
}

.currencyItem{
    background-image: url(../Assets/project-Pic/currency.png);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px 1px #000;

}
.storItem{
    background-image: url(../Assets/project-Pic/store.png);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px 1px #000;
    
}
.weather{
    background-image: url(../Assets/project-Pic/weather.png);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px 1px rgb(19, 18, 18);
    
}
.recipeApp{
    background-image: url(../Assets/project-Pic/recipe.png);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px 1px #000;
    
}
.netflix{
    background-image: url(../Assets/project-Pic/netflix.png);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px 1px #000;
}